{% from 'macros.html' import input_field, display_errors %}
{{ display_errors(form) }}
<!-- Pull event information -->

<div class="centertext align-items-center">
<div class="container">
    <div class="introtext">
    <h1>{{ event['title'] }}</h1>
    <h2>{{ event['description'] }}</h2>
    <h5>Created by: {{ event['admin_name'] }}</h5>
    </div>
    <div>
      <h5>Tasks</h5>
        {% for t in event.tasks %}
            <p>T: {{ t.task }}</p>
        {% endfor %}
    </div>
    <a href="/event/{{ event['id'] }}/newtask">Add Task</a>
    <a href="/event/{{ event['id'] }}/respond">Join Event</a>
</div>

    <div class="participanttable">
        <div class="container">
            <div class="timeslot-display">
                    {% for dateslot in event_dateslots %}
                        <h5><strong>{{ dateslot.date }}</strong></h5>
                        {% for timeslot in dateslot.timeslots %}
                            <div class="timeslot" style="height:auto;width:auto;">
                                <p><strong>{{ timeslot.time.strftime("%I:%M %p") }}</strong></p>
                                {% for p in participants %}
                                    {% for pt in p.timeslots %}
                                        {% if pt.time == timeslot.time %}
                                            <p>{{ p.name }}</p>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% endfor %}  
                    {% endfor %}
                    <br><br>
                    <a href="/event/{{ event['id'] }}/new_dateslot">Add Another Date</a>
            </div>
        </div>
    </div>
</div>
<script>
    $(".date-picker").datepicker()
    $(".24-hour-form").hide();

    $('.toggle-time-button').on('click', function(e){
        e.preventDefault()
        $('.24-hour-form').toggle()
        $('.12-hour-form').toggle()
    });

    $('.timeslot-picker').selectable({
        selected: function(event, ui){
            $(ui.selected).addClass('active')
            $(ui.selected).removeClass('selecting')
            $(ui.selected).children('input').val('1')
        },
        unselected: function(event, ui){
            $(ui.unselected).removeClass('active')
            $(ui.unselected).removeClass('selecting')
            $(ui.unselected).children('input').val('0')
        },
        selecting: function(event, ui){
            $(ui.selecting).addClass('selecting')
        }
    });
</script>
