{% from 'macros.html' import input_field, display_errors %}
{{ display_errors(form) }}
<!-- Pull event information -->

<div class="centertext align-items-center">
<div class="container">
    <div class="introtext">
    <h1>{{ event['title'] }}</h1>
    <h2>{{ event['description'] if event['description'] else "No Description" }}</h2>
    <h5>Created by: {% for p in event.participants %}
		{% if p.is_admin %}
			{{ p.name }}</h5>
			{%endif%}
			{%endfor%}
    </div>
    <div class="tasks">
      <h5>Tasks</h5>
	  	{% if event.tasks %}
	      {% for t in event.tasks %}
	        <p>{{ t.task }}: {{ t.participant.name if t.is_assigned else "Unclaimed"}}</p>
	      {% endfor %}
		  {% else %}
			  <p>There are no tasks for this event</p>
		  {% endif %}
    </div>
    <a class="btn btn-outline-info col-sm-4 join my-4" href="/event/{{ event['id'] }}/newtask">Add Task</a>
	{% if (open_task) %}
		<a class="btn btn-outline-info col-sm-4 join my-4" href="/event/{{ event['id'] }}/respondtask">Claim Task</a>
	{% endif %}
	<br>
    <a class="btn btn-outline-info col-sm-4 join my-4" href="/event/{{ event['id'] }}/respond">Join Event</a>
</div>

  <div class="participanttable">
    <div class="container">
      <div class="timeslot-display">
        {% for dateslot in event_dateslots %}
					<div class="date">
	          <h5><strong>{{ dateslot.date }}</strong></h5>
						<br>
	          {% for timeslot in dateslot.timeslots %}

	            <div class="timeslot" style="height:auto;width:auto;">
	              <p><strong>{{ timeslot.time.strftime("%I:%M %p") }}</strong></p>

	              {% for p in participants %}
	                {% for pd in p.dateslots %}
                    {% for pt in pd.timeslots %}
  	                  {% if timeslot.time == pt.time %}
  	                    <p>{{ p.name }}</p>
  	                  {% endif %}
                    {% endfor %}
	                {% endfor %}
	              {% endfor %}
	            </div>

	          {% endfor %}
					</div>
        {% endfor %}
        <br><br>
        <a class="btn btn-outline-info col-sm-4 join my-4" href="/event/{{ event['id'] }}/new_dateslot">Add Another Date</a>
      </div>
    </div>
  </div>
</div>
<script>
    $(".date-picker").datepicker()
    $(".24-hour-form").hide();

    $('.toggle-time-button').on('click', function(e){
        e.preventDefault()
        $('.24-hour-form').toggle()
        $('.12-hour-form').toggle()
    });

    $('.timeslot-picker').selectable({
        selected: function(event, ui){
            $(ui.selected).addClass('active')
            $(ui.selected).removeClass('selecting')
            $(ui.selected).children('input').val('1')
        },
        unselected: function(event, ui){
            $(ui.unselected).removeClass('active')
            $(ui.unselected).removeClass('selecting')
            $(ui.unselected).children('input').val('0')
        },
        selecting: function(event, ui){
            $(ui.selecting).addClass('selecting')
        }
    });
</script>
