{% include 'header.html' %}
{% from 'macros.html' import display_errors, input_field %}
{{ display_errors(form) }}
<div class="container text-center">
<h1>Create a New Event</h1>
<button class="btn btn-info toggle-time-button my-3 btn-sm">Toggle time format</button>

    <div class="container">
        <form class="col-sm-10 mx-auto" method="POST">
            {{ input_field(form, 'eventname', 'Event Name') }}
            {{ input_field(form, 'eventdescription', 'Event Description') }}
            {{ input_field(form, 'adminname', 'Your Name') }}
			<h3>Tasks</h3>
            {{ input_field(form, 'tasks', 'Task Name')}}
			<h3>Add Task</h3>
			<p margin="0px auto">{{ form.tasks.append_entry() }}</p>
            <p>Time slots are 30 minutes long and begin at indicated time.</p>
            <p>Hold Ctrl or Command(Mac) to select multiple time slots.</p>
            <div class="timeslot-picker">
                {% for timeslot in form.timeslots %}
                    {{ form["slot_%s" % timeslot.strftime("%H%M")]()|safe }}
                {% endfor %}
            </div>
            <input type="submit" value="Submit" class="btn btn-lg btn-primary my-3 float-right">
        </form>
    </div>

</div>
<script src="/static/new.js"></script>
{% include 'footer.html' %}
