{% include 'header.html' %}
{% from 'macros.html' import display_errors, input_field %}
{{ display_errors(form) }}
<div class="container text-center">
    <div id="formshow">
        <form class="col-sm-10 mx-auto" method="POST">
            <div class="container">
                <div class="timeslot-picker">
                    {% for dateslot in event_dateslots %}
                        <h5><strong>{{ dateslot.date }}</strong></h5>
                        {% for timeslot in dateslot.timeslots %}
                            {{ form["slot_%s" % timeslot.strftime("%H%M")]()|safe }}
                        {% endfor %}  
                    {% endfor %}
                </div>
          </div>
              <input type="submit" value="Submit" class="btn btn-lg btn-primary my-3 float-right">
        </form>
    </div>
{% include 'footer.html' %}